<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Myapp</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <app-root></app-root>
    <script src="~/Client/dist/myapp/runtime.js" type="module"></script>
    <script src="~/Client/dist/myapp/polyfills.js" type="module"></script>
    <script src="~/Client/dist/myapp/styles.js" type="module"></script>
    <script src="~/Client/dist/myapp/vendor.js" type="module"></script>
    <script src="~/Client/dist/myapp/main.js" type="module"></script>
</body>
</html>
