/* You can add global styles to this file, and also import other style files */

@import '../../Client/node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../../Client/node_modules/primeng/resources/primeng.min.css';
@import '../../Client/node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../Client/node_modules/font-awesome/css/font-awesome.css';
